.project {
    font-family: Poppins, sans-serif;

    .project-me {
        // height: 15vh;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 30px;

        h2 {
            text-transform: uppercase;
            font-weight: 630;
            letter-spacing: 3px;
            font-size: 2em;
            word-spacing: 3px;
        }
    }

    .project-us {
        background-color: white;
        padding: 30px;
        display: flex;
        justify-content: space-between;

        .box-project {
            width: 45%;

            img {
                width: 100%;
            }

            .flex-btn {
                width: 80%;
                display: flex;
                justify-content: space-between;

                a {
                    padding: 8px 25px;
                    background-color: black;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        * {
            margin-bottom: 15px;
        }

    }
}


@media only screen and (max-width: 1290px) {
    .project {
        .project-us {
            flex-wrap: wrap;

            .box-project {
                width: 100%;

                .flex-btn {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}



@media only screen and (max-width: 690px) {
    .project {
        .project-us {

            .box-project {

                .flex-btn {
                    width: 70%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media only screen and (max-width: 518px) {
    .project {
        .project-us {

            .box-project {

                .flex-btn {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media only screen and (max-width: 518px) {
    .project {
        .project-us {
            .box-project {
                .flex-btn {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}
@media only screen and (max-width: 373px) {
    .project {
        .project-us {
            .box-project {
                .flex-btn {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
            }
        }
    }
}