@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
}

body {
  background-color: #e2d3d3;
  overflow-x: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  font-family: Poppins,'sans-serif';
}

nav i {
  display: none;
}

nav .logo {
  margin-right: 30px;
  padding: 8px;
}

nav .logo a {
  color: black;
}

nav .logo h1 {
  letter-spacing: 1px;
  font-weight: 400;
}

nav ul {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: gray;
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
  border-right: 1px solid #ddd;
  padding: 0 10px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.hamburger-menu {
  position: fixed;
  padding: 20px;
  width: 40%;
  height: 100%;
  top: 0;
  right: -100%;
  z-index: 1;
  background-color: #fff;
  color: black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: Poppins,sans-serif;
}

.hamburger-menu ul li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.hamburger-menu ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  letter-spacing: 1px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.hamburger-menu ul li a:hover {
  color: #2929bb;
}

.hamburger-menu i {
  font-size: 2.5em;
  cursor: pointer;
}

.showMenu {
  right: 0;
}

@media only screen and (max-width: 992px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav i {
    display: block;
    font-size: 18px;
    cursor: pointer;
  }
  nav ul {
    display: none !important;
  }
  .hamburger-menu ul li h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 720px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav i {
    display: block;
    font-size: 18px;
    cursor: pointer;
  }
  nav ul {
    display: none !important;
  }
  .hamburger-menu {
    width: 45%;
  }
}

.wrapper {
  width: 95%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .pages {
  width: 70%;
}

.wrapper .sidebar {
  width: 30%;
  padding: 15px;
}

.wrapper .sidebar hr {
  background-color: crimson;
  margin: 30px 0;
}

.wrapper .sidebar .social {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .sidebar .social a {
  font-size: 22px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: gray;
}

.wrapper .sidebar .social a:hover {
  color: crimson;
  cursor: pointer;
}

.wrapper .sidebar .card-profile {
  font-family: Jost,sans-serif;
}

.wrapper .sidebar .card-profile * {
  margin-bottom: 10px;
}

.wrapper .sidebar .card-profile p a {
  color: brown;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.wrapper .sidebar .card-profile p a:hover {
  letter-spacing: 1px;
}

.wrapper .sidebar .card-profile .resim {
  width: 50%;
}

.wrapper .sidebar .card-profile .resim img {
  width: 100%;
  border-radius: 50%;
}

.wrapper .sidebar .card-about {
  font-family: Poppins,sans-serif;
}

.wrapper .sidebar .card-about * {
  margin-bottom: 15px;
}

.wrapper .sidebar .card-about p {
  font-size: 15px;
}

.wrapper .sidebar .card-about a {
  padding: 8px 50px;
  font-family: Poppins,sans-serif;
  background-color: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  border: 1px solid blue;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .wrapper {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .wrapper .sidebar {
    width: 100%;
  }
  .wrapper .pages {
    width: 100%;
  }
}

.home {
  font-family: Poppins,sans-serif;
}

.home .about-site {
  height: 35vh;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.home .about-site * {
  margin-bottom: 15px;
}

.home .about-site h1 {
  letter-spacing: 1px;
}

.home .about-site p {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 300;
  word-spacing: 2px;
}

.home .about-site p i {
  font-weight: bold;
}

.home .w-site {
  height: 30vh;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  font-family: Poppins,sans-serif;
}

.home .w-site p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

@media only screen and (max-width: 992px) {
  .home .about-site {
    height: 40vh;
  }
}

.about {
  font-family: Poppins,sans-serif;
}

.about .about-me {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 30px;
}

.about .about-me h2 {
  text-transform: uppercase;
  font-weight: 630;
  letter-spacing: 3px;
  font-size: 2em;
  word-spacing: 3px;
}

.about .about-us {
  padding: 30px;
  background-color: white;
}

.about .about-us .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-us .flex p {
  width: 50%;
  font-size: 15px;
}

.about .about-us .flex .img {
  width: 50%;
}

.about .about-us .flex .img img {
  width: 100%;
}

.about .about-us * {
  margin-bottom: 18px;
}

.about .about-us .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about-us .flex-box .box {
  width: 30%;
  padding: 15px 8px;
  text-align: center;
  background-color: aliceblue;
  border: 1px solid #ddd;
}

.about .about-us .flex-box .box i {
  font-size: 2.5em;
  color: crimson;
}

@media only screen and (max-width: 1300px) {
  .about .about-us .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .about .about-us .flex .img {
    width: 100%;
  }
  .about .about-us .flex p {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .about .about-us .flex-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .about-us .flex-box .box {
    width: 48%;
  }
  .about .about-us .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .about .about-us .flex .img {
    width: 100%;
  }
  .about .about-us .flex p {
    width: 100%;
  }
}

.resume {
  font-family: Poppins,sans-serif;
}

.resume .resume-title {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 30px;
}

.resume .resume-title h2 {
  text-transform: uppercase;
  font-weight: 630;
  letter-spacing: 3px;
  font-size: 2em;
  word-spacing: 3px;
}

.resume .resume-us {
  padding: 30px;
  background-color: white;
}

.resume .resume-us .flex-res {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume .resume-us .flex-res .title-box {
  width: 30%;
  border: 1px solid #ddd;
  text-align: center;
  padding: 15px;
}

.resume .resume-us .flex-res .title-box img {
  width: 100%;
}

.resume .resume-us .flex-btn {
  width: 80%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume .resume-us .flex-btn .btn {
  padding: 8px 0;
  width: 30%;
  text-align: center;
  background-color: black;
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  font-family: Poppins,sans-serif;
  border: 0;
}

.resume .resume-us .flex-skil .progressBar {
  background-color: gainsboro;
  margin: 10px 0;
  height: 40px;
  line-height: 40px;
}

.resume .resume-us .flex-skil .progressBar .progress {
  padding-left: 15px;
  font-size: 18px;
}

.resume .resume-us .flex-skil .progressBar .html {
  width: 78%;
  background-color: orangered;
}

.resume .resume-us .flex-skil .progressBar .css {
  width: 80%;
  background-color: #3498db;
}

.resume .resume-us .flex-skil .progressBar .js {
  width: 78%;
  background-color: #f1c40f;
}

.resume .resume-us .flex-skil .progressBar .rjs {
  width: 80%;
  background-color: #0097e6;
}

.resume .resume-us .flex-skil .progressBar .bs {
  width: 90%;
  background-color: #8e44ad;
}

.resume .resume-us .flex-skil .progressBar .jq {
  width: 90%;
  background-color: #2980b9;
}

.resume .resume-us .flex-skil .progressBar .tcs {
  width: 80%;
  background-color: #485460;
}

.resume .resume-us .flex-skil .progressBar .njs {
  width: 75%;
  background-color: #a29bfe;
}

.resume .resume-us .flex-skil .progressBar .cjs {
  width: 70%;
  background-color: #778beb;
}

.resume .resume-us .flex-skil .progressBar .mdb {
  width: 80%;
  background-color: #00b894;
}

.resume .resume-us .flex-skil .progressBar .nojs {
  width: 78%;
  background-color: #e17055;
}

.resume .resume-us .flex-skil .progressBar .ejs {
  width: 75%;
  background-color: #fdcb6e;
}

.resume .resume-us .flex-skil .progressBar .mjs {
  width: 75%;
  background-color: #575fcf;
}

.resume .resume-us .flex-skil .progressBar .scs {
  width: 75%;
  background-color: #ff5e57;
}

@media only screen and (max-width: 992px) {
  .resume .resume-us .flex-res {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .resume .resume-us .flex-res .title-box {
    width: 100%;
    margin: 10px auto;
  }
}

.contact {
  font-family: Poppins,sans-serif;
}

.contact .contact-me {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 30px;
}

.contact .contact-me h2 {
  text-transform: uppercase;
  font-weight: 630;
  letter-spacing: 3px;
  font-size: 2em;
  word-spacing: 3px;
}

.contact .contact-us {
  background-color: white;
  padding: 30px;
}

.contact .contact-us * {
  margin-bottom: 15px;
}

.contact .contact-us .gmail a {
  color: #9b59b6;
  font-size: 16px;
}

.contact .contact-us .sosial {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .contact-us .sosial a {
  font-size: 40px;
}

.contact .contact-us .sosial a:nth-child(1) {
  color: #706fd3;
}

.contact .contact-us .sosial a:nth-child(2) {
  color: #ff793f;
}

.contact .contact-us .sosial a:nth-child(3) {
  color: black;
}

.contact .contact-us .sosial a:nth-child(4) {
  color: #40407a;
}

.contact .contact-us .sosial a:nth-child(5) {
  color: #474787;
}

.contact .contact-us .sosial a:nth-child(6) {
  color: #34ace0;
}
/*# sourceMappingURL=style.css.map */